.Container-Header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #000000;
    color: hwb(0 100% 0%);
}

.List{
    display: flex;
    gap: 1rem;

    .Menu{
        color: hsl(0, 0%, 100%);
        text-decoration: none;
    }

}